In [2]:
# Reading the Nashville data 
nash_data = pd.read_csv("listings.csv")
nash_data.head()

,id,listing_url,scrape_id,last_scraped,name,description,neighborhood_overview,picture_url,host_id,host_url,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,6422,https://www.airbnb.com/rooms/6422,20211217003604,2021-12-17,Nashville Charm,30 day or more rental during COVID. Show COVID...,Historic East Nashville is home to many new an...,https://a0.muscache.com/pictures/pro_photo_too...,12172,https://www.airbnb.com/users/show/12172,...,4.96,4.92,4.98,NaN,f,1,0,1,0,4.38
1,39870,https://www.airbnb.com/rooms/39870,20211217003604,2021-12-17,Close to Vanderbilt 2,This is a room and private bathroom in my cozy...,"The house is in a safe, quiet, ""college"" neig...",https://a0.muscache.com/pictures/43420407-69b6...,171184,https://www.airbnb.com/users/show/171184,...,4.98,4.94,4.94,NaN,f,1,0,1,0,4.17
2,72906,https://www.airbnb.com/rooms/72906,20211217003604,2021-12-17,Vandy/Belmont/10 mins to Broadway - Sunny 800 ...,Entire top floor. Private. 800 sq ft of bright...,Historic Belmont-Hillsboro neighborhood. Walk-...,https://a0.muscache.com/pictures/58602855/3788...,176117,https://www.airbnb.com/users/show/176117,...,4.99,4.96,4.88,NaN,f,1,1,0,0,4.74
3,258817,https://www.airbnb.com/rooms/258817,20211217003604,2021-12-17,ButterflyRoom-private bath- open in oct,Morningstar House! Extended stay - 3+ months- ...,"I'm very near the Percy Priest Lake, natural ...",https://a0.muscache.com/pictures/eef19bc4-2743...,22296,https://www.airbnb.com/users/show/22296,...,4.90,4.74,4.73,NaN,f,7,0,6,1,0.79
4,289242,https://www.airbnb.com/rooms/289242,20211217003604,2021-12-17,"MorningstarHouse, monthly room- open sept",Morningstar House! Extended stay - price reduc...,The Morningstar House is in a quiet cul-de-sac...,https://a0.muscache.com/pictures/40a7ab72-20f7...,22296,https://www.airbnb.com/users/show/22296,...,4.78,4.47,4.69,NaN,f,7,0,6,1,0.63

In [3]:
#  Nashville data shape
nash_data.shape

(6360, 74)

In [4]:
# Reading the Asheville data 
ashe_data = pd.read_csv("Asheville_listings.csv")
ashe_data.head()

,id,listing_url,scrape_id,last_scraped,name,description,neighborhood_overview,picture_url,host_id,host_url,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,108061,https://www.airbnb.com/rooms/108061,20211215062309,2021-12-15,Walk to stores/parks/downtown. Fenced yard/Pet...,Walk to town in ten minutes! Monthly rental in...,"I love my neighborhood! Its friendly, easy-goi...",https://a0.muscache.com/pictures/41011975/0cdf...,320564,https://www.airbnb.com/users/show/320564,...,4.79,4.84,4.48,NaN,f,2,2,0,0,0.71
1,155305,https://www.airbnb.com/rooms/155305,20211215062309,2021-12-15,Cottage! BonPaul + Sharky's Hostel,<b>The space</b><br />Private cottage located ...,"We are within easy walk of pubs, breweries, mu...",https://a0.muscache.com/pictures/8880711/cf38d...,746673,https://www.airbnb.com/users/show/746673,...,4.76,4.93,4.53,NaN,t,7,1,2,4,2.75
2,156805,https://www.airbnb.com/rooms/156805,20211215062309,2021-12-15,"Private Room ""Ader"" at BPS Hostel",<b>The space</b><br />Private Rooms at Bon Pau...,"Easy walk to pubs, cafes, bakery, breweries, l...",https://a0.muscache.com/pictures/23447d55-fa7e...,746673,https://www.airbnb.com/users/show/746673,...,4.61,4.84,4.46,NaN,t,7,1,2,4,0.54
3,156926,https://www.airbnb.com/rooms/156926,20211215062309,2021-12-15,"Mixed Dorm ""Top Bunk #1"" at BPS Hostel",This is a top bunk in the mixed dorm room<br /...,NaN,https://a0.muscache.com/pictures/98f4e655-c4d6...,746673,https://www.airbnb.com/users/show/746673,...,4.80,4.78,4.78,NaN,t,7,1,2,4,2.36
4,160594,https://www.airbnb.com/rooms/160594,20211215062309,2021-12-15,Historic Grove Park,Come enjoy the beautiful Grove Park neighborho...,NaN,https://a0.muscache.com/pictures/92433837/d340...,769252,https://www.airbnb.com/users/show/769252,...,4.88,4.90,4.85,NaN,f,1,0,1,0,0.46

In [5]:
# Asheville data shape
ashe_data.shape

(2626, 74)

In [6]:
# Checking for duplicates 
nash_unique = nash_data.drop_duplicates(subset=['id'])
nash_unique.shape 
# all unique entries 

ashe_unique = ashe_data.drop_duplicates(subset=['id'])
ashe_unique.shape
# all unique entries

(2626, 74)

In [7]:
nash_unique

,id,listing_url,scrape_id,last_scraped,name,description,neighborhood_overview,picture_url,host_id,host_url,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,6422,https://www.airbnb.com/rooms/6422,20211217003604,2021-12-17,Nashville Charm,30 day or more rental during COVID. Show COVID...,Historic East Nashville is home to many new an...,https://a0.muscache.com/pictures/pro_photo_too...,12172,https://www.airbnb.com/users/show/12172,...,4.96,4.92,4.98,NaN,f,1,0,1,0,4.38
1,39870,https://www.airbnb.com/rooms/39870,20211217003604,2021-12-17,Close to Vanderbilt 2,This is a room and private bathroom in my cozy...,"The house is in a safe, quiet, ""college"" neig...",https://a0.muscache.com/pictures/43420407-69b6...,171184,https://www.airbnb.com/users/show/171184,...,4.98,4.94,4.94,NaN,f,1,0,1,0,4.17
2,72906,https://www.airbnb.com/rooms/72906,20211217003604,2021-12-17,Vandy/Belmont/10 mins to Broadway - Sunny 800 ...,Entire top floor. Private. 800 sq ft of bright...,Historic Belmont-Hillsboro neighborhood. Walk-...,https://a0.muscache.com/pictures/58602855/3788...,176117,https://www.airbnb.com/users/show/176117,...,4.99,4.96,4.88,NaN,f,1,1,0,0,4.74
3,258817,https://www.airbnb.com/rooms/258817,20211217003604,2021-12-17,ButterflyRoom-private bath- open in oct,Morningstar House! Extended stay - 3+ months- ...,"I'm very near the Percy Priest Lake, natural ...",https://a0.muscache.com/pictures/eef19bc4-2743...,22296,https://www.airbnb.com/users/show/22296,...,4.90,4.74,4.73,NaN,f,7,0,6,1,0.79
4,289242,https://www.airbnb.com/rooms/289242,20211217003604,2021-12-17,"MorningstarHouse, monthly room- open sept",Morningstar House! Extended stay - price reduc...,The Morningstar House is in a quiet cul-de-sac...,https://a0.muscache.com/pictures/40a7ab72-20f7...,22296,https://www.airbnb.com/users/show/22296,...,4.78,4.47,4.69,NaN,f,7,0,6,1,0.63
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6355,53848373,https://www.airbnb.com/rooms/53848373,20211217003604,2021-12-17,TWO LUXURY TOWNHOMES - SLEEPS 24,"2 home combo in MidTown now available, located...",NaN,https://a0.muscache.com/pictures/prohost-api/H...,20772148,https://www.airbnb.com/users/show/20772148,...,NaN,NaN,NaN,NaN,t,37,37,0,0,NaN
6356,53849579,https://www.airbnb.com/rooms/53849579,20211217003604,2021-12-17,NYE Buffett Style! Margaritaville Studio Sleeps 4,A prime location in the heart of downtown Nash...,NaN,https://a0.muscache.com/pictures/39e84b36-7480...,372514865,https://www.airbnb.com/users/show/372514865,...,NaN,NaN,NaN,NaN,f,2,2,0,0,NaN
6357,53850709,https://www.airbnb.com/rooms/53850709,20211217003604,2021-12-17,"Good as Gold Rowhouse - Minutes to downtown, V...","Love food, music, rooftop decks and uber comfy...",NaN,https://a0.muscache.com/pictures/prohost-api/H...,26211861,https://www.airbnb.com/users/show/26211861,...,NaN,NaN,NaN,NaN,t,1,1,0,0,NaN
6358,53855857,https://www.airbnb.com/rooms/53855857,20211217003604,2021-12-17,New Year's Eve!! Margaritaville Studio Sleeps 4,This resort offers studio rooms that comfortab...,NaN,https://a0.muscache.com/pictures/39e84b36-7480...,372514865,https://www.airbnb.com/users/show/372514865,...,NaN,NaN,NaN,NaN,f,2,2,0,0,NaN
6359,53859326,https://www.airbnb.com/rooms/53859326,20211217003604,2021-12-17,Nashville Famous - Luxurious Townhome with Swe...,A luxurious and uniquely styled townhome with ...,"Located 6 miles from downtown Nashville, 6 mil...",https://a0.muscache.com/pictures/prohost-api/H...,85360355,https://www.airbnb.com/users/show/85360355,...,NaN,NaN,NaN,NaN,f,81,81,0,0,NaN

In [8]:
# Looking at the columns to drop 
nash_unique.columns

# get ridding of scrape_id, last_scraped, host_has_profile_pic, picture_url, host_thumbnail_url, host_picture_url, host_ neighborhood, bathrooms, neighbourhood_group_cleansed, calendar_updated, minimum_minimum_nights, maximum_minimum_nights, 
# minimum_maximum_nights, maximum_maximum_nights, minimum_nights_avg_ntm  , maximum_nights_avg_ntm, has_availability, "calendar_last_scraped", "license", "month", 
nash_columns = nash_unique.drop(["scrape_id", "last_scraped", "host_has_profile_pic", "picture_url", "host_thumbnail_url", "host_picture_url", "host_neighbourhood", "bathrooms",\
     "neighbourhood_group_cleansed", "calendar_updated", "minimum_minimum_nights", "maximum_minimum_nights", "minimum_maximum_nights", "maximum_maximum_nights",\
    "minimum_nights_avg_ntm", "maximum_nights_avg_ntm", "has_availability", "availability_30", "availability_60", "availability_90", "availability_365", "calendar_last_scraped", "license"], axis=1)

In [9]:
# Dropping columns for Asheville dataset 
ashe_columns = ashe_unique.drop(["scrape_id", "last_scraped", "host_has_profile_pic", "picture_url", "host_thumbnail_url", "host_picture_url", "host_neighbourhood", "bathrooms",\
     "neighbourhood_group_cleansed", "calendar_updated", "minimum_minimum_nights", "maximum_minimum_nights", "minimum_maximum_nights", "maximum_maximum_nights",\
    "minimum_nights_avg_ntm", "maximum_nights_avg_ntm", "has_availability", "availability_30", "availability_60", "availability_90", "availability_365", "calendar_last_scraped", "license"], axis=1)

In [10]:
# dropping the null rows 
nash_rows = nash_columns.dropna()
nash_rows

,id,listing_url,name,description,neighborhood_overview,host_id,host_url,host_name,host_since,host_location,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,6422,https://www.airbnb.com/rooms/6422,Nashville Charm,30 day or more rental during COVID. Show COVID...,Historic East Nashville is home to many new an...,12172,https://www.airbnb.com/users/show/12172,Michele,2009-04-03,"Nashville, Tennessee, United States",...,4.97,4.96,4.92,4.98,f,1,0,1,0,4.38
1,39870,https://www.airbnb.com/rooms/39870,Close to Vanderbilt 2,This is a room and private bathroom in my cozy...,"The house is in a safe, quiet, ""college"" neig...",171184,https://www.airbnb.com/users/show/171184,Evelyn,2010-07-18,"San Francisco, California, United States",...,4.99,4.98,4.94,4.94,f,1,0,1,0,4.17
2,72906,https://www.airbnb.com/rooms/72906,Vandy/Belmont/10 mins to Broadway - Sunny 800 ...,Entire top floor. Private. 800 sq ft of bright...,Historic Belmont-Hillsboro neighborhood. Walk-...,176117,https://www.airbnb.com/users/show/176117,Richard Carson,2010-07-21,"Nashville, Tennessee, United States",...,4.98,4.99,4.96,4.88,f,1,1,0,0,4.74
3,258817,https://www.airbnb.com/rooms/258817,ButterflyRoom-private bath- open in oct,Morningstar House! Extended stay - 3+ months- ...,"I'm very near the Percy Priest Lake, natural ...",22296,https://www.airbnb.com/users/show/22296,Diana,2009-06-19,"Nashville, Tennessee, United States",...,4.92,4.90,4.74,4.73,f,7,0,6,1,0.79
4,289242,https://www.airbnb.com/rooms/289242,"MorningstarHouse, monthly room- open sept",Morningstar House! Extended stay - price reduc...,The Morningstar House is in a quiet cul-de-sac...,22296,https://www.airbnb.com/users/show/22296,Diana,2009-06-19,"Nashville, Tennessee, United States",...,4.83,4.78,4.47,4.69,f,7,0,6,1,0.63
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6142,53328346,https://www.airbnb.com/rooms/53328346,"Southern Glam, Minutes to Downtown-Sleeps 12","Welcome to “Southern Glam,” a new modern luxur...","Located in East Nashville, literally just over...",319913,https://www.airbnb.com/users/show/319913,Reservations,2010-12-15,"Nashville, Tennessee, United States",...,5.00,5.00,5.00,5.00,f,16,16,0,0,1.00
6146,53357202,https://www.airbnb.com/rooms/53357202,The Forrest Suite - Private Suite in Quiet Area!,This charming one bedroom suite is a perfect h...,This home is located in the cul-de-sac of a ch...,85360355,https://www.airbnb.com/users/show/85360355,StayLocal,2016-07-22,"Nashville, Tennessee, United States",...,5.00,4.75,5.00,5.00,f,81,81,0,0,4.00
6171,53417336,https://www.airbnb.com/rooms/53417336,The Ridley - Cozy Home in Central Location,A spacious yet delightfully cozy feeling 3 bed...,"In the Wedgewood - Houston area, you`ll find y...",85360355,https://www.airbnb.com/users/show/85360355,StayLocal,2016-07-22,"Nashville, Tennessee, United States",...,5.00,5.00,5.00,5.00,f,81,81,0,0,1.00
6173,53419077,https://www.airbnb.com/rooms/53419077,Lux Penthouse Getaway,Lux Gateaway - a modern and luxruious condo. E...,Our place is in a great location downtown! Loc...,85631229,https://www.airbnb.com/users/show/85631229,Alexis,2016-07-24,"Nashville, Tennessee, United States",...,5.00,5.00,5.00,5.00,t,9,9,0,0,1.00
6229,53588853,https://www.airbnb.com/rooms/53588853,Modern Home ★ Super Fun Design ★ Rooftop Terrace,Enjoy our luxury home with 2500 square feet of...,East Nashville has a quirky vibe and a buzzing...,101426897,https://www.airbnb.com/users/show/101426897,Host Extraordinaires,2016-10-26,"Nashville, Tennessee, United States",...,5.00,5.00,5.00,5.00,t,123,123,0,0,1.00

In [11]:
# Asheville columns 
ashe_rows = ashe_columns.dropna()
ashe_rows.shape

(1028, 51)

In [ ]:
# The following code is from Anna. Seeking to answer the following questions...
    # Q3. Do certain short-term rental characteristics fare better in the short-term rental market?
    # Q4. What characteristics are needed for a successful (high ranking) rental property?

In [15]:
# Find columns to deterime the "characterists" columns
nash_rows.columns

Index(['id', 'listing_url', 'name', 'description', 'neighborhood_overview',
       'host_id', 'host_url', 'host_name', 'host_since', 'host_location',
       'host_about', 'host_response_time', 'host_response_rate',
       'host_acceptance_rate', 'host_is_superhost', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_identity_verified', 'neighbourhood', 'neighbourhood_cleansed',
       'latitude', 'longitude', 'property_type', 'room_type', 'accommodates',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [28]:
#Getting Characteristics rows for NASHVILLE
nash_character = nash_rows[['room_type','accommodates',
    'bathrooms_text','bedrooms','beds','amenities','price',
    'minimum_nights','maximum_nights']]

In [29]:
nash_character.head()

,room_type,accommodates,bathrooms_text,bedrooms,beds,amenities,price,minimum_nights,maximum_nights
0,Private room,2,1 private bath,2.0,3.0,"[""Microwave"", ""Wifi"", ""Lock on bedroom door"", ...",$40.00,30,365
1,Private room,2,1 private bath,1.0,1.0,"[""Microwave"", ""Keypad"", ""Wifi"", ""Essentials"", ...",$60.00,1,29
2,Entire home/apt,4,1 bath,2.0,2.0,"[""Microwave"", ""Essentials"", ""Refrigerator"", ""H...",$81.00,2,30
3,Private room,2,1 private bath,1.0,2.0,"[""Microwave"", ""Keypad"", ""Wifi"", ""Essentials"", ...",$36.00,30,365
4,Private room,1,1 shared bath,1.0,3.0,"[""Microwave"", ""Keypad"", ""Wifi"", ""Essentials"", ...",$34.00,30,365

In [37]:
# Describe the characterics of nashville summed 
nash_character.describe()

       accommodates     bedrooms         beds  minimum_nights  maximum_nights
count   2692.000000  2692.000000  2692.000000     2692.000000     2692.000000
mean       6.691308     2.351040     4.148588        4.221025      566.723254
std        3.675447     1.383567     3.583405        8.009598      492.023101
min        1.000000     1.000000     1.000000        1.000000        2.000000
25%        4.000000     1.000000     2.000000        1.000000       45.000000
50%        6.000000     2.000000     3.000000        2.000000      365.000000
75%       10.000000     3.000000     5.000000        2.000000     1125.000000
max       16.000000    14.000000    32.000000       60.000000     1500.000000

In [108]:
# Get data types to destermine if need to add/or convert 
nash_character.dtypes

room_type          object
accommodates        int64
bathrooms_text     object
bedrooms          float64
beds              float64
amenities          object
price              object
minimum_nights      int64
maximum_nights      int64
dtype: object

In [109]:
#Adding two new columns to the existing dataframe.
#splitting is done on the basis of underscore.
nash_character[['bathrooms','bath_text','other_bath']] = nash_character.bathrooms_text.apply(
   lambda x: pd.Series(str(x).split(" ")))

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:3191: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [110]:
# Find what new "bathrooms" column looks like. Make sure no words, only numbers.
nash_character.bathrooms

0         1
1         1
2         1
3         1
4         1
       ...
6142      6
6146      1
6171    3.5
6173      1
6229    3.5
Name: bathrooms, Length: 2692, dtype: object

In [111]:
#See new columns added to nash_character df
nash_character.head()

,room_type,accommodates,bathrooms_text,bedrooms,beds,amenities,price,minimum_nights,maximum_nights,bathrooms,bath_text,other_bath
0,Private room,2,1 private bath,2.0,3.0,"[""Microwave"", ""Wifi"", ""Lock on bedroom door"", ...",$40.00,30,365,1,private,bath
1,Private room,2,1 private bath,1.0,1.0,"[""Microwave"", ""Keypad"", ""Wifi"", ""Essentials"", ...",$60.00,1,29,1,private,bath
2,Entire home/apt,4,1 bath,2.0,2.0,"[""Microwave"", ""Essentials"", ""Refrigerator"", ""H...",$81.00,2,30,1,bath,NaN
3,Private room,2,1 private bath,1.0,2.0,"[""Microwave"", ""Keypad"", ""Wifi"", ""Essentials"", ...",$36.00,30,365,1,private,bath
4,Private room,1,1 shared bath,1.0,3.0,"[""Microwave"", ""Keypad"", ""Wifi"", ""Essentials"", ...",$34.00,30,365,1,shared,bath

In [112]:
#Drop unused bathroom column
nash_character.drop(columns = ["bathrooms_text","bath_text","other_bath"])

,room_type,accommodates,bedrooms,beds,amenities,price,minimum_nights,maximum_nights,bathrooms
0,Private room,2,2.0,3.0,"[""Microwave"", ""Wifi"", ""Lock on bedroom door"", ...",$40.00,30,365,1
1,Private room,2,1.0,1.0,"[""Microwave"", ""Keypad"", ""Wifi"", ""Essentials"", ...",$60.00,1,29,1
2,Entire home/apt,4,2.0,2.0,"[""Microwave"", ""Essentials"", ""Refrigerator"", ""H...",$81.00,2,30,1
3,Private room,2,1.0,2.0,"[""Microwave"", ""Keypad"", ""Wifi"", ""Essentials"", ...",$36.00,30,365,1
4,Private room,1,1.0,3.0,"[""Microwave"", ""Keypad"", ""Wifi"", ""Essentials"", ...",$34.00,30,365,1
...,...,...,...,...,...,...,...,...,...
6142,Entire home/apt,12,4.0,11.0,"[""Microwave"", ""Wifi"", ""Essentials"", ""Refrigera...",$586.00,2,30,6
6146,Entire home/apt,2,1.0,1.0,"[""Microwave"", ""Wifi"", ""Body soap"", ""Essentials...",$77.00,1,365,1
6171,Entire home/apt,7,3.0,4.0,"[""Microwave"", ""Wifi"", ""Freezer"", ""Body soap"", ...",$137.00,1,365,3.5
6173,Entire home/apt,2,1.0,1.0,"[""Pool""]",$144.00,1,14,1
6229,Entire home/apt,10,3.0,7.0,"[""Microwave"", ""Wifi"", ""Freezer"", ""Body soap"", ...",$246.00,2,1125,3.5

In [113]:
#Confirm "bathrooms_text","bath_text","other_bath" coulmns were droped
nash_character.columns

Index(['room_type', 'accommodates', 'bathrooms_text', 'bedrooms', 'beds',
       'amenities', 'price', 'minimum_nights', 'maximum_nights', 'bathrooms',
       'bath_text', 'other_bath'],
      dtype='object')

In [114]:
# Determine data types to find if new "bathrooms" column is int
nash_character.dtypes

room_type          object
accommodates        int64
bathrooms_text     object
bedrooms          float64
beds              float64
amenities          object
price              object
minimum_nights      int64
maximum_nights      int64
bathrooms          object
bath_text          object
other_bath         object
dtype: object

In [118]:
#Convert column from object to float then to int
nash_character["bathrooms"] = pd.to_numeric(nash_character["bathrooms"], errors='coerce')

<ipython-input-118-094ce2041041>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nash_character["bathrooms"] = pd.to_numeric(nash_character["bathrooms"], errors='coerce')

In [119]:
#Check "bathrooms" data type
nash_character.dtypes

room_type          object
accommodates        int64
bathrooms_text     object
bedrooms          float64
beds              float64
amenities          object
price              object
minimum_nights      int64
maximum_nights      int64
bathrooms         float64
bath_text          object
other_bath         object
dtype: object

In [125]:
#Convert column from float then to int
nash_character = nash_character.replace(np.nan, 0, regex=True)

In [126]:
#Convert column from float then to int
nash_character['bathrooms'] = nash_character['bathrooms'].astype(int)

In [127]:
#Check data types
nash_character.dtypes

room_type          object
accommodates        int64
bathrooms_text     object
bedrooms          float64
beds              float64
amenities          object
price              object
minimum_nights      int64
maximum_nights      int64
bathrooms           int64
bath_text          object
other_bath         object
dtype: object

In [128]:
# Find what new "room_type" column looks like.
nash_character.room_type

0          Private room
1          Private room
2       Entire home/apt
3          Private room
4          Private room
             ...
6142    Entire home/apt
6146    Entire home/apt
6171    Entire home/apt
6173    Entire home/apt
6229    Entire home/apt
Name: room_type, Length: 2692, dtype: object

In [129]:
import numpy as np

In [130]:
#Create a 1(yes) or 0(no) column to determin the room_type. Only 2 options. "Entire home/apt = 1, Private room or other = 0"
#create a new column and use np.select to assign values to it usinig our list as arguments
nash_character["Entire home/apt"] = np.where(nash_character["room_type"]!="Entire home/apt", 1, 0)


#display updated dataframe columns
nash_character.columns

Index(['room_type', 'accommodates', 'bathrooms_text', 'bedrooms', 'beds',
       'amenities', 'price', 'minimum_nights', 'maximum_nights', 'bathrooms',
       'bath_text', 'other_bath', 'Entire home/apt'],
      dtype='object')

In [131]:
#Display the Descriptions of airb-n-b characteristics 
nash_character.describe()

,accommodates,bedrooms,beds,minimum_nights,maximum_nights,bathrooms,Entire home/apt
count,2692.000000,2692.000000,2692.000000,2692.000000,2692.000000,2692.000000,2692.000000
mean,6.691308,2.351040,4.148588,4.221025,566.723254,1.941308,0.111441
std,3.675447,1.383567,3.583405,8.009598,492.023101,1.314913,0.314736
min,1.000000,1.000000,1.000000,1.000000,2.000000,0.000000,0.000000
25%,4.000000,1.000000,2.000000,1.000000,45.000000,1.000000,0.000000
50%,6.000000,2.000000,3.000000,2.000000,365.000000,1.000000,0.000000
75%,10.000000,3.000000,5.000000,2.000000,1125.000000,3.000000,0.000000
max,16.000000,14.000000,32.000000,60.000000,1500.000000,14.000000,1.000000

In [31]:
# Find columns to deterime the "characterists" columns
ashe_rows.columns

Index(['id', 'listing_url', 'name', 'description', 'neighborhood_overview',
       'host_id', 'host_url', 'host_name', 'host_since', 'host_location',
       'host_about', 'host_response_time', 'host_response_rate',
       'host_acceptance_rate', 'host_is_superhost', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_identity_verified', 'neighbourhood', 'neighbourhood_cleansed',
       'latitude', 'longitude', 'property_type', 'room_type', 'accommodates',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [34]:
#Getting Characteristics rows for ASHEVILLE
ashe_character = ashe_rows[['room_type','accommodates',
    'bathrooms_text','bedrooms','beds','amenities','price',
    'minimum_nights','maximum_nights']]

In [133]:
ashe_character.head

<bound method NDFrame.head of             room_type  accommodates    bathrooms_text  bedrooms  beds  \
0     Entire home/apt             2            1 bath       1.0   1.0
1     Entire home/apt             2            1 bath       1.0   1.0
2        Private room             2  2.5 shared baths       1.0   1.0
6     Entire home/apt             4            1 bath       1.0   2.0
10    Entire home/apt             4            1 bath       2.0   2.0
...               ...           ...               ...       ...   ...
2559  Entire home/apt             2            1 bath       1.0   1.0
2565  Entire home/apt             2            1 bath       1.0   1.0
2577  Entire home/apt             4            1 bath       2.0   2.0
2592  Entire home/apt             5         1.5 baths       2.0   2.0
2597  Entire home/apt             4            1 bath       2.0   2.0

                                              amenities    price  \
0     ["Essentials", "Dedicated workspace", "Refrige...  $120.00
1     ["Essentials", "Dedicated workspace", "Refrige...   $90.00
2     ["Long term stays allowed", "Essentials", "Mic...   $66.00
6     ["Essentials", "Dedicated workspace", "Refrige...  $134.00
10    ["Essentials", "Dedicated workspace", "Refrige...  $289.00
...                                                 ...      ...
2559  ["Essentials", "Fire pit", "Refrigerator", "Ki...   $74.00
2565  ["Essentials", "Refrigerator", "Kitchen", "Sha...  $100.00
2577  ["Essentials", "Clothing storage: closet", "De...  $119.00
2592  ["Essentials", "Kitchen", "Central heating", "...  $119.00
2597  ["Essentials", "Refrigerator", "Kitchen", "Sha...   $77.00

      minimum_nights  maximum_nights  bathrooms bath_text other_bath  \
0                 30             365          1      bath        NaN
1                  1             365          1      bath        NaN
2                  1             365          2    shared      baths
6                 30             360          1      bath        NaN
10                30             365          1      bath        NaN
...              ...             ...        ...       ...        ...
2559               1              25          1      bath        NaN
2565               1            1125          1      bath        NaN
2577               2             365          1      bath        NaN
2592               2             365          1     baths        NaN
2597               2            1125          1      bath        NaN

      Entire home/apt
0                   0
1                   0
2                   1
6                   0
10                  0
...               ...
2559                0
2565                0
2577                0
2592                0
2597                0

[1028 rows x 13 columns]>

In [135]:
# Describe the characterics of Asheville summed 
ashe_character.describe()

,accommodates,bedrooms,beds,minimum_nights,maximum_nights,bathrooms,Entire home/apt
count,1028.000000,1028.000000,1028.000000,1028.000000,1028.000000,1028.000000,1028.000000
mean,4.473735,1.842412,2.420233,4.932879,457.199416,1.434825,0.142996
std,2.834667,1.091023,1.798100,14.659205,513.965381,0.750614,0.350239
min,1.000000,1.000000,1.000000,1.000000,2.000000,0.000000,0.000000
25%,2.000000,1.000000,1.000000,1.000000,27.000000,1.000000,0.000000
50%,4.000000,1.000000,2.000000,2.000000,90.000000,1.000000,0.000000
75%,6.000000,2.000000,3.000000,2.000000,1125.000000,2.000000,0.000000
max,16.000000,8.000000,21.000000,365.000000,1125.000000,6.000000,1.000000

In [136]:
# Get data types to destermine if need to add/or convert 
ashe_character.dtypes

room_type           object
accommodates         int64
bathrooms_text      object
bedrooms           float64
beds               float64
amenities           object
price               object
minimum_nights       int64
maximum_nights       int64
bathrooms            int64
bath_text           object
other_bath          object
Entire home/apt      int64
dtype: object

In [68]:
 #Adding two new columns to the existing dataframe.
#splitting is done on the basis of underscore.


ashe_character[['bathrooms','bath_text','other_bath']] = ashe_character.bathrooms_text.apply(
   lambda x: pd.Series(str(x).split(" ")))

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:3191: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [69]:
# Find what new "bathrooms" column looks like. Make sure no words, only numbers.
ashe_character.bathrooms

0         1
1         1
2       2.5
6         1
10        1
       ...
2559      1
2565      1
2577      1
2592    1.5
2597      1
Name: bathrooms, Length: 1028, dtype: object

In [70]:
#See new columns added to ashe_character df
ashe_character.head()

,room_type,accommodates,bathrooms_text,bedrooms,beds,amenities,price,minimum_nights,maximum_nights,bathrooms,bath_text,other_bath
0,Entire home/apt,2,1 bath,1.0,1.0,"[""Essentials"", ""Dedicated workspace"", ""Refrige...",$120.00,30,365,1,bath,NaN
1,Entire home/apt,2,1 bath,1.0,1.0,"[""Essentials"", ""Dedicated workspace"", ""Refrige...",$90.00,1,365,1,bath,NaN
2,Private room,2,2.5 shared baths,1.0,1.0,"[""Long term stays allowed"", ""Essentials"", ""Mic...",$66.00,1,365,2.5,shared,baths
6,Entire home/apt,4,1 bath,1.0,2.0,"[""Essentials"", ""Dedicated workspace"", ""Refrige...",$134.00,30,360,1,bath,NaN
10,Entire home/apt,4,1 bath,2.0,2.0,"[""Essentials"", ""Dedicated workspace"", ""Refrige...",$289.00,30,365,1,bath,NaN

In [80]:
#Drop unused bathroom column
ashe_character.drop(columns = ["bathrooms_text","bath_text","other_bath"])

,room_type,accommodates,bedrooms,beds,amenities,price,minimum_nights,maximum_nights,bathrooms
0,Entire home/apt,2,1.0,1.0,"[""Essentials"", ""Dedicated workspace"", ""Refrige...",$120.00,30,365,1
1,Entire home/apt,2,1.0,1.0,"[""Essentials"", ""Dedicated workspace"", ""Refrige...",$90.00,1,365,1
2,Private room,2,1.0,1.0,"[""Long term stays allowed"", ""Essentials"", ""Mic...",$66.00,1,365,2.5
6,Entire home/apt,4,1.0,2.0,"[""Essentials"", ""Dedicated workspace"", ""Refrige...",$134.00,30,360,1
10,Entire home/apt,4,2.0,2.0,"[""Essentials"", ""Dedicated workspace"", ""Refrige...",$289.00,30,365,1
...,...,...,...,...,...,...,...,...,...
2559,Entire home/apt,2,1.0,1.0,"[""Essentials"", ""Fire pit"", ""Refrigerator"", ""Ki...",$74.00,1,25,1
2565,Entire home/apt,2,1.0,1.0,"[""Essentials"", ""Refrigerator"", ""Kitchen"", ""Sha...",$100.00,1,1125,1
2577,Entire home/apt,4,2.0,2.0,"[""Essentials"", ""Clothing storage: closet"", ""De...",$119.00,2,365,1
2592,Entire home/apt,5,2.0,2.0,"[""Essentials"", ""Kitchen"", ""Central heating"", ""...",$119.00,2,365,1.5
2597,Entire home/apt,4,2.0,2.0,"[""Essentials"", ""Refrigerator"", ""Kitchen"", ""Sha...",$77.00,2,1125,1

In [81]:
#Confirm "bathrooms_text","bath_text","other_bath" coulmns were droped
ashe_character.columns

Index(['room_type', 'accommodates', 'bathrooms_text', 'bedrooms', 'beds',
       'amenities', 'price', 'minimum_nights', 'maximum_nights', 'bathrooms',
       'bath_text', 'other_bath'],
      dtype='object')

In [78]:
# Determine data types to find if new "bathrooms" column is int
ashe_character.dtypes

room_type          object
accommodates        int64
bathrooms_text     object
bedrooms          float64
beds              float64
amenities          object
price              object
minimum_nights      int64
maximum_nights      int64
bathrooms          object
bath_text          object
other_bath         object
dtype: object

In [84]:
#Convert column from object to float then to int
ashe_character["bathrooms"] = pd.to_numeric(ashe_character["bathrooms"])

<ipython-input-84-f3e15439a61c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ashe_character["bathrooms"] = pd.to_numeric(ashe_character["bathrooms"])

In [85]:
#Check "bathrooms" data type
ashe_character.dtypes

room_type          object
accommodates        int64
bathrooms_text     object
bedrooms          float64
beds              float64
amenities          object
price              object
minimum_nights      int64
maximum_nights      int64
bathrooms         float64
bath_text          object
other_bath         object
dtype: object

In [86]:
#Convert column from float then to int
ashe_character["bathrooms"] = ashe_character.bathrooms.astype(int)

<ipython-input-86-7b98293bd362>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ashe_character["bathrooms"] = ashe_character.bathrooms.astype(int)

In [87]:
#Check "bathrooms" data type
ashe_character.dtypes

room_type          object
accommodates        int64
bathrooms_text     object
bedrooms          float64
beds              float64
amenities          object
price              object
minimum_nights      int64
maximum_nights      int64
bathrooms           int64
bath_text          object
other_bath         object
dtype: object

In [90]:
# Find what new "room_type" column looks like.
ashe_character.room_type

0       Entire home/apt
1       Entire home/apt
2          Private room
6       Entire home/apt
10      Entire home/apt
             ...
2559    Entire home/apt
2565    Entire home/apt
2577    Entire home/apt
2592    Entire home/apt
2597    Entire home/apt
Name: room_type, Length: 1028, dtype: object

In [93]:
import numpy as np

In [107]:
#Create a 1(yes) or 0(no) column to determin the room_type. Only 2 options. "Entire home/apt = 1, Private room or other = 0"
#create a new column and use np.select to assign values to it usinig our list as arguments

#create a new column and use np.select to assign values to it usinig our list as arguments
ashe_character["Entire home/apt"] = np.where(ashe_character["room_type"]!="Entire home/apt", 1, 0)


#display updated dataframe
ashe_character.columns

<ipython-input-107-b65400c00e72>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ashe_character["Entire home/apt"] = np.where(ashe_character["room_type"]!="Entire home/apt", 1, 0)

Index(['room_type', 'accommodates', 'bathrooms_text', 'bedrooms', 'beds',
       'amenities', 'price', 'minimum_nights', 'maximum_nights', 'bathrooms',
       'bath_text', 'other_bath', 'Entire home/apt'],
      dtype='object')

In [132]:
#Display the Descriptions of airb-n-b characteristics 
ashe_character.describe()

,accommodates,bedrooms,beds,minimum_nights,maximum_nights,bathrooms,Entire home/apt
count,1028.000000,1028.000000,1028.000000,1028.000000,1028.000000,1028.000000,1028.000000
mean,4.473735,1.842412,2.420233,4.932879,457.199416,1.434825,0.142996
std,2.834667,1.091023,1.798100,14.659205,513.965381,0.750614,0.350239
min,1.000000,1.000000,1.000000,1.000000,2.000000,0.000000,0.000000
25%,2.000000,1.000000,1.000000,1.000000,27.000000,1.000000,0.000000
50%,4.000000,1.000000,2.000000,2.000000,90.000000,1.000000,0.000000
75%,6.000000,2.000000,3.000000,2.000000,1125.000000,2.000000,0.000000
max,16.000000,8.000000,21.000000,365.000000,1125.000000,6.000000,1.000000